*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    overflow: scroll;
}
.container{
    border: 2px solid red;
    width: 90%;
    height: fit-content;
    margin: 1.5em auto;
    background-color: skyblue;
}
.heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.3em auto;
}
.heading > h1{  
    font-size: 3em;
}
.heading > img{
    border-radius: 50%;
}
.navs{
    border: 2px solid red;
}